:root {
  --color-primary: hsl(158, 36%, 37%);
  --color-primary-darker: hsl(212, 21%, 14%);
  --color-background: hsl(30, 38%, 92%);
  --color-body-text: hsl(228, 12%, 48%);
}

a {
  text-decoration: none;
  color: white;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--color-body-text);
  font-size: 1.4rem;
  background: var(--color-background);
}

h1,
span {
  font-family: "Fraunces", serif;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  color: black;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

/* Buttons */
/* FIXME: Figure out how to center the button */
.btn {
  border-radius: 9px;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 2rem 0;
  outline: 0;
  padding: 1.4rem 9rem;
}

.btn--primary {
  background: var(--color-primary);
  color: white;
  transition: background, 0.15s;
}

.btn:hover {
  background: hsl(158, 36%, 20%);
}

.btn img {
  margin-right: 0.5rem;
  position: relative;
  top: 1px;
}

/* Coupon Tag */
.card-coupon__tag {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  margin-top: 1.8rem;
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .card-coupon__tag {
    margin: 2.5rem 0;
  }
}

/* Price Tag */
.card-coupon__price {
  color: var(--color-primary);
  font-size: 3rem;
  margin-right: 1.5rem;
}

.card-coupon__price-slash {
  font-size: 1.1rem;
  text-decoration: line-through;
  position: relative;
  top: -0.7rem;
  font-family: "montserrat", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  .card-coupon__price {
    font-size: 2.7rem;
    margin-right: 1.25rem;
  }

  .card-coupon__price-slash {
    font-size: 1rem;
  }
}

/* Card */
.coupon__image {
  width: 100%;
}
.card-coupon {
  margin: 2.5rem 1.5rem;
  border-radius: 7px;
  overflow: hidden;
  background: white;
}

.card-coupon__body {
  padding-left: 2.2rem;
}

.card-coupon__heading {
    text-transform: capitalize;
}